<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <link th:href="@{/assets/css/auth.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center mb-5">SUSSYCourses</h1>

    <section>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <h2>Login</h2>
            <div class="input-box">
                <ion-icon name="person-outline"></ion-icon>
                <input name="username" id="username" type="email" required>
                <label>E-mail</label>
            </div>
            <div class="input-box">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" id="password" type="password" required>
                <label>Password</label>
            </div>
            <div class="dialog-row">
                <label th:if="${param.error}"
                       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
                       class="text-center error"></label>
            </div>
            <button>Log in</button>
            <div class="register">
                <p>Don't have an account ?<a href="/register"> Register</a></p>
            </div>
        </form>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:src="@{/assets/js/auth.js}" defer></script>

<!--<script>-->
<!--    (function () {-->
<!--        'use strict'-->
<!--        var forms = document.querySelectorAll('.needs-validation')-->
<!--        Array.prototype.slice.call(forms)-->
<!--            .forEach(function (form) {-->
<!--                form.addEventListener('submit', function (event) {-->
<!--                    console.log(form.checkValidity)-->
<!--                    if (!form.checkValidity()) {-->
<!--                        event.preventDefault()-->
<!--                        event.stopPropagation()-->
<!--                    }-->
<!--                    form.classList.add('was-validated')-->
<!--                }, false)-->
<!--            })-->
<!--    })()-->
<!--</script>-->
</body>
</html>
