<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Video Player</title>
  <style>
    body { text-align: center; }
    video { width: 80%; margin: 20px 0; }
    image {width: 50%; margin: 10px 0;}
  </style>
</head>
<body>
<h1>Video Player</h1>
<!--<video controls>-->
<!--  <source th:src="${videoUrl}" type="video/mp4" >-->
<!--  Your browser does not support the video tag.-->
<!--</video>-->
<!--<video th:src="${videoUrl}" alt="ff">-->
<p>
<form id="uploadForm" action="/my-handling-form-page" method="post" enctype="multipart/form-data">
  <p>
    <label for="file">Upload File</label>
    <input id="file" name="file" type="file">
  </p>
  <p class="button">
    <button type="button" onclick="handleFileUpload()">Upload video</button>
  </p>
</form>
<a href="/">Back to Home</a>
</video>

<script>
  function handleFileUpload() {
    const form = document.getElementById('uploadForm');
    const fileInput = document.getElementById('file');

    // Check if a file has been selected
    if (fileInput.files.length === 0) {
      alert("Please select a file to upload.");
      return;
    }

    // Get the selected file

    const file = fileInput.files[0];
    const fileType = "video/mp4"
    console.log("Selected file:", file);

    // Optional: Create FormData to send via AJAX
    const formData = new FormData();
    formData.append('file', file);
    formData.append('fileType', fileType)
    console.log(formData)

    // Example: Send file via Fetch API
    fetch('/cloud/put', {
      method: 'POST',
      body: formData
    })
            .then(response => response.json())
            .then(data => {
              console.log("File uploaded successfully:", data);
              alert("File uploaded successfully!");
            })
  }
</script>

</body>
</html>
